<div class="row">
  <div class="col-xs-8">
    <h3> {{menu.current.label}}
      <div class="pull-right">
        <a ng-hide="showProfile" ng-click="showProfile=!showProfile" class="btn btn-default">
          <i class="fa fa-info"></i>
          Profile</a>
        <a ng-show="showProfile" ng-click="showProfile=!showProfile" class="btn btn-default">
          <i class="fa fa-list"></i>
          Search</a>
      </div>
    </h3>

    <div ng-show="showProfile">
      <hr/>
      <p>{{profile.description}}</p>
      <div ng-bind-html="profile.text.div"></div>
      <br/>
      <div class="item" ng-repeat="elem in profile.structure[0].element">
          <b>{{elem.path}}</b>
          {{elem.definition.min}}-{{elem.definition.max}}
          [{{elem.definition.type | profileTypes}}]
          <span class="text-muted">{{elem.definition.short}}</span>
      </div>
    </div>

    <div ng-hide="showProfile">
      <hr/>
      <pre>{{searchUri.method}} {{searchUri.url}} {{searchUri.params}}</pre>
      <div class="text-muted"
        ng-show="resources.length == 0">
        Nothing to show :(
      </div>
      <a class="item"
        ng-repeat="resource in resources"
        href="#/resources/{{resource.content.resourceType}}/{{resource.id}}">
        <code>{{resource.title}}</code>
        <code>{{resource.id | uuid}}</code>
        <span>LMD: {{resource.published}}</span>
      </a>
    </div>
  </div>
  <div class="col-xs-4">
    <form ng-submit="search()" class="well">
      <h4> Search </h4>
      <hr/>
      <div ng-repeat="param in profile.structure[0].searchParam"
        style="margin-bottom: 10px;">
        <div ng-if="param.type == 'string' || param.type == 'token' " class="search-param">
          <div ng-click="param._open = !param._open">
            <i ng-hide="param._open" class="fa fa-chevron-down"></i>
            <i ng-show="param._open" class="fa fa-chevron-up"></i>
            <b> {{ param.name }} </b>
            <span class="text-muted">{{param.documentation}}</span>
          </div>
          <div ng-if="param._open">
            <input ng-model="query[param.name]" class="form-control" placeholder="{{param.type}}"/>
          </div>
        </div>
      </div>
      <hr/>
      <button class="btn btn-success" ng-click="search()">Search</button>
    </form>
  </div>
</div>
