<div class="row">
  <div class="col-xs-8">
    <div class="well">
      <input class="form-control" ng-model="search.type" placeholder="Select resource"/>
    </div>
    <div class="row">
      <a href="#/resources/{{item.type}}"
        ng-repeat="item in resources | filter:search"
        class="col-xs-4">{{item.type}}</a>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="well">
      <h3> Service Conformance </h3>
      <hr/>
      <ul>
        <li ng-repeat="(k,v) in conformance">
        <b>{{k}}</b>  {{v | json}}
        </li>
      </ul>
    </div>
  </div>
</div>
