<h3>History</h3>
<hr/>
<div class="item"
  ng-repeat="entry in entries"
  ng-click="entry._open =! entry._open">
  {{entry.resource.meta.lastUpdated | date}}
  <span class="text-muted">{{entry.resource.id | uuid}}</span>

  <span class="pull-right text-muted">
    Meta: {{entry.resource.meta | json}};
  </span>

  <i ng-hide="entry._open" class="fa fa-chevron-down"></i>
  <i ng-show="entry._open" class="fa fa-chevron-up"></i>
  <div>
    <pre ng-show="entry._open">{{ entry.resource | json }}</pre>
  </div>
</div>


