<form class="form-horizontal" ng-submit="search()">
  <div class="form-group">
    <input class="form-control" type="text" ng-model="query.q"/>
  </div>
  <div class="form-group">
    Params:
    <div ng-repeat="p in params"
      title="{{p.description}}"
      ng-click="query.q = query.q + p.name + '='"
      style="border-radius: 5px; background: #eee; display: inline-block; cursor: poiter; padding: 5px 10px; border: 1px solid #ddd; margin: 5px;">
      <b>{{p.name}}</b>
    </div>
  </div>
</form>

<hr/>

<div class="text-muted" ng-show="resources.length == 0">
  <h3>Nothing to show :(</h3>
  <br/>
  <img src="http://www.technologijos.lt/upload/image/n/zmoniu_pasaulis/redakcijos_akiratis/S-44395/swings.jpg"/>
</div>
<a class="item"
  ng-repeat="resource in resources"
  href="{{resource | urlFor}}">
  <b>{{resource.id}}</b>
  <code>{{resource.meta.lastUpdated | date:'short'}}</code>
  <span class="text-muted">{{resource | searchPreview:searched}}</span>
</a>
