<h3>{{resource.resource.meta | json}}</h3>

<textarea
  ui-codemirror="{mode: 'javascript', lineWrapping: true, lineNumbers: true, json: true}"
  style="min-height: 2000px; position: absolute; width: 90%; top: 50px; left: 50px; right: 50px; bottom: 100px;"
  ng-model='resource.content'></textarea>

<!-- ui-codemirror="{mode: 'javascript', lineWrapping: true, lineNumbers: true, json: true}" -->
<div class="btns">
  <button ng-click="save()" class="btn btn-success">Update</button>
  <button ng-click="destroy()" class="btn btn-danger">Destroy</button>
  <button ng-click="validate()" class="btn btn-info">Validate</button>
  <span class="btns-div"></span>
  <!-- <button ng-click="removeAllTags()" class="btn btn-danger">Remove All Tags</button> -->
  <!-- <button ng-click="affixResourceTags()" class="btn btn-success" >Affix Tags</button> -->
</div>
